<!DOCTYPE html>
<html>
  <head>
    <title>HotwireViewcomponentExample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="container max-w-4xl mx-auto mt-12 px-5">
    <main>
      <%= yield %>
    </main>
  </body>
</html>
